* {
  margin: 0;
  padding: 0;
}
input:focus,
input.form-control:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

input {
  border: none;
}

.alert {
  width: 20%;
  height: 5px;
 margin: 0 auto;

}
